<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ValidApiUrl" value="https://jsonplaceholder.typicode.com/comments"/>
    <add key="InvalidApiUrl" value="https://jsonplaceholder.typicode.com/comments1"/>
  </appSettings>
</configuration>